.outer-menu{
    position: fixed;
    display: inline-block;
    z-index: 100;
    height: 50px;
    width: 50px;
    top: 20px;
    left: 20px;
}

#nav-icon3 span:nth-child(1) {
    top: 0px;
}

#nav-icon3 span:nth-child(2),#nav-icon3 span:nth-child(3) {
    top: 18px;
}

#nav-icon3 span:nth-child(4) {
    top: 36px;
}

#nav-icon3.open span:nth-child(1) {
    top: 18px;
    width: 0%;
    left: 50%;
}

#nav-icon3.open span:nth-child(2) {
    -webkit-transform: rotate(45deg);
    -moz-transform: rotate(45deg);
    -o-transform: rotate(45deg);
    transform: rotate(45deg);
}

#nav-icon3.open span:nth-child(3) {
    -webkit-transform: rotate(-45deg);
    -moz-transform: rotate(-45deg);
    -o-transform: rotate(-45deg);
    transform: rotate(-45deg);
}

#nav-icon3.open span:nth-child(4) {
    top: 18px;
    width: 0%;
    left: 50%;
}

#checkbox-toggle {
    position: absolute;
    z-index: 10000;
    opacity: 0;
    width: 100%;
    height: 100%;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    margin: 0;
    padding: 0;
    border: 0;
}

.menu {
    position: fixed;
    top: 45px;
    left: 45px;

    width: 300vmax;
    height: 300vmax;

    margin-top: -150vmax;
    margin-left: -150vmax;

    border-radius: 50%;
    background: #2c3e50;

    transform: scale(0);
    transform-origin: center;
    transition: all 0.5s ease-in-out;

    z-index: 10;
    display: flex;
    align-items: center;
    justify-content: center;
}

#checkbox-toggle:checked ~ .menu {
    background-color: #2c3e50;
    pointer-events: auto;
    transform: scale(1);
}

.menu-content {
    position: fixed;
    top: 51%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 20;
    opacity: 0;
    transition: all 0.3s ease;
    color: snow;
}

#checkbox-toggle:checked ~ .hamburger > #line-1,
#checkbox-toggle:checked ~ .hamburger > #line-2,
#checkbox-toggle:checked ~ .hamburger > #line-3 {
    transform: translateY(50%);
    opacity: 0;
}

#checkbox-toggle:checked ~ .hamburger > #line-4 {
    transform: rotate(45deg);
}

#checkbox-toggle:checked ~ .hamburger > #line-5 {
    transform: rotate(-45deg);
}

#checkbox-toggle:checked ~ .menu-content {
    transition-delay: 0.5s;
    opacity: 1;
    top: 50%;
}

.menu-content ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

.menu-content li {
    margin-bottom: 20px;
}

ul {
    gap: 15px;
    display: flex;
    flex-direction: column;
    scale: 150%;
    text-align: center;
}

.menu-content li a {
    position: relative;
    display: inline-block;
    color: snow;
    cursor: pointer;
    text-decoration: none;
}

.menu-content li a:after {
    content: '';
    position: absolute;
    left: 0;
    bottom: -5px;
    width: 0;
    height: 2px;
    background: snow;
    z-index: 999;
    transition: width 0.4s ease;
}

.menu-content li a:hover::after {
    width: 100%;
}