@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:ital,wght@0,100..700;1,100..700&display=swap');

html {
    scrollbar-width: none;
    -ms-overflow-style: none;
    overflow: hidden;
    font-family: 'Josefin Sans', sans-serif;
    background-color: #F8F9FA;
    height: 100%;
}

html::-webkit-scrollbar {
    display: none;
}

body {
    display: flex;
    min-height: 100vh;
    height: 100dvh;
    margin: 0;
    flex-direction: column;
    color: #2c3e50;
}

.scroll-container {
    flex: 1;
    overflow-y: auto;
    overscroll-behavior-y: contain;
    -webkit-overflow-scrolling: touch;
}

section {
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
}

form {
    max-width: 720px;
    min-width: 300px;
    display: flex;
    flex-direction: column;
    gap: 10px;
    scale: 80%;
    position: relative;
}

form > * {
    margin: 0;
}

input[type="text"], input[type="email"] {
    padding: 8px;
    border: 2px solid #2c3e50;
    border-radius: 8px;
    background-color: #F8F9FA;
    box-sizing: border-box;
}

.recontactLabel, .dataChoiceLabel {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 15px;
    background: rgba(0,0,0,0.05);
    padding: 10px;
    border-radius: 8px;
    cursor: pointer;
    font-size: 0.9rem;
}

.recontactLabel, .dataChoiceLabel input {
    width: 20px;
    height: 20px;
    cursor: pointer;
}

button {
    padding: 10px;
    border-radius: 8px;
    background-color: #F8F9FA;
    color: #2c3e50;
    border: 2px solid #2c3e50;
    cursor: pointer;
    font-weight: bold;
}

#feedback, #formIntro {
    display: flex;
    justify-content: center;
}

.userInput {
    width: 17%;
    align-self: center;
}

#email{
    width: 32%;
}

#btnContainer {
    display: flex;
    flex-direction: row;
    place-content: space-evenly;
    flex-wrap: wrap;
}

.video {
    width: 100vw;
    height: 100vh;
    object-fit: contain;
    position: fixed;
    top: 0;
    left: 0;
}

#conteneur-boutons {
    position: relative;
    z-index: 2;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 20px;

    width: 90%;
    pointer-events: none;
}

#conteneur-boutons > * {
    pointer-events: auto;
}

#conteneur-boutons button {
    position: relative;
    min-width: 200px;
    padding: 15px;
}